<head>
<link rel="stylesheet" type="text/css" href="/assets/css/form.css">
</head>

<% title="Login" %>
<div class="container">
  <div class="loginform">
    <form method="POST">
      <label for="username"><i class="fas fa-user"></i></label>
      <input name="username" type="text" placeholder="Username"><br>
      <label for="password"><i class="fas fa-lock"></i></label>
      <input name="password" type="password" placeholder="Password">
      <button type="submit">Log In</button>
    </form>
  </div>  
</div>