<% title="Profile Page";%>
<div class="container bg-dark">
<h1>Profile Page</h1>
<ul style="list-style: none; display: inline">
    <li>Username: <% if (user) { %><%= user.username %><% } %></li>
    <li>Email: <% if (user) { %><%= user.email %><% } %></li>
</ul>
   
</div>