<% title = "Sign Up" %>
<div class="container">
  <% if (alert) { %>
  <p class="alert-fail"><%- alert %></p>
  <% } %>
  <form method="POST">
    <label for="email">E-mail: </label>
    <input name="email" type="text" placeholder="E-mail"><br>
    <label for="username">Username: </label>
    <input name="username" type="text" placeholder="Username"><br>
    <label for="password">Password: </label>
    <input name="password" type="password" placeholder="Password"><br>
    <label for="repeat-password">Repeat Password: </label>
    <input name="repeat-password" type="password" placeholder="Password">
    <button type="submit">Sign Up</button>
  </form>
</div>
