form {
  padding: 1em;
  /* background: #635f6ba4; */
  margin-top: 2rem;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border-radius: 20px;
}
  
form input {
  margin-bottom: 1rem;
  background: #635f6ba4;
  color: #fff;
  text-align: center;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 30px;
}

form input::placeholder {
  color: #fff;
}
form input:focus {
  outline: none;
}
form button {
  background: lightgrey;
  padding: 0.7em;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}
    
form button:hover {
  background: gray;
}
    
label {
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
}
    
input {
  width: 100%;
  padding: 0.7em;
}

.login-title {
  text-align: center;
}