form {
  padding: 1em;
  background: none;
  margin-top: 2rem;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border-radius: 5px;
  text-align: center;
}
  
form input {
  border: none;
  border-radius: 2px;
  margin: 5px;
  color: #fff;
  height: 40px;
  padding-left: 45px;
  font-size: 15px;
  background-color: #22222288
}

form input::placeholder {
  color: #fff;
}
form input:focus {
  outline: none;
}
form button {
  width: 125px;
  height: 35px;
  border: none;
  border-radius: 25px;
  margin-top: 10px;
}
    
form button:hover {
  background: gray;
}
    
label {
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
}
    
input {
  width: 100%;
  padding: 0.7em;
}

.login-title {
  text-align: center;
}