body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-color: lightgray;
  margin: 0;
}
  
* {
  box-sizing: border-box;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #86202b;
  color: white;
  text-align: center;
}

.alert-fail {
  color: #dc3545;
}

.container{
  padding: 2%;
  margin: 2%;
  border-radius: 5px;
  background-color:  #dc3545;
}

.text-center{
  text-align: center;
}

.container-fluid{
  width: 100vh;
}

.bg-dark{
  background-color: rgb(46, 46, 46);
  color: white;
}

.jumbotron{
  background: orange;
  margin: 5%;
  border-radius: 5px;
}

.jumbotron-fluid{
  background: orange;
  background-color: #dc3545
}