body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-image: url(https://www.growtopiagame.com/forums/attachment.php?attachmentid=199250&d=1527732292);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
  
* {
  box-sizing: border-box;
}

.alert-fail {
  color: #dc3545;
}

.container{
  padding: 2%;
  margin: 2%;
  background-color: white;
}

.text-center{
  text-align: center;
}

.container-fluid{
  width: 100vh;
  background-color: white;
}

.jumbotron{
  background: orange;
  margin: 5%;
}

.jumbotron-fluid{
  background: orange;
}