body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-image: url(https://www.growtopiagame.com/forums/attachment.php?attachmentid=199250&d=1527732292);
  background-repeat: no-repeat;
  background-size: cover;
}
  
* {
  box-sizing: border-box;
}

.alert-fail {
  color: #dc3545;
}

.container{
  padding: 2%;
  margin: 2%;
}