@import url("../fontawesome/css/all.min.css");

/* ==============  NAVBAR BEGINS  ==============  */
.navbar ul{
  margin: 0.4rem !important;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dc3545;
  margin-bottom: 2%;
}

.navbar li {
  float: left;
}

.navbar li:first-child{
  border-right: 2px solid #ffffff;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: #111;
}

.navbar input[type='search']{
  /* font-size: 15px;
  border: 2px solid #dc3545;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  color: #484848;
  text-align: center;
  padding: 14px 16px; */
  background-color: inherit;
  border: 1px solid #a02430;
  height: 30px;
  position: relative;
  top: 8px;
  border-radius: 3px;
  width: 180px;
  padding-left: 5px;
  padding-right: 10px;
}

.navbar input[type='search']::placeholder {
  color: #ffffff;
}

.navbar input[type='search']:focus::placeholder {
  color: rgba(0, 0, 0, 0);
}

/* <==============  NAVBAR ENDS  ==============>  */